
@media screen and (max-width: 768px) {
    .container{
        background-color: blueviolet;
    }
    .img-top{
        
    }
    .text{
        
    }
    .text .title-img img{
        display: none;
    }
    .text .title-img h1{
        font-size: 4.2em;
        max-width: 100%;
    }
    .paragraph p{
        font-size: 1.5em;
        line-height: 30px;
        max-width: 426px;
        margin-top: 30px;
    }
    .paragraph .img-bottom{
        display: none;
    }
    .btn{
        margin-top: 30px;
    }
    .btn-img .btn button{
        width: 270px;
        height: 75px
    }
    .btn-img{
        display: flex;
        justify-content: space-between;
    }
    .btn-img .img-bottom{
        display: block;
    }

    .box{
        display: block;
    }
    .box .img-4{
        display: none;
    }
}




/* @media screen and  (max-width: 768px) {
    

    .container{
        background-color: pink;
    }
    .img-left{
        margin-left: 0;
    }

    .text h1{
        
        margin-left: 0;
        margin-top: 0;
        font-size: 4em;
    }

    .text .img-3{
        display: none;
    }
    
    .paragraph{
        margin-top: 10px;
        
    }
    .paragraph .img-bottom{
        display: none;
    }
    .paragraph p{
        margin-left: 0;
    }
    .btn-img{
        display: flex;
        margin-top: 30px;
    } 
    .btn-img .btn  button{
        margin-left: 0;
    }
    .btn-img .img-buttom{
        display: block;
    } 
    .box .img-4{
        display: none;
    }
    .box{
        margin-left: 0px;
    }
    .box .social-media{
        margin-top: 80px;
        margin-left: -100px;
        width: 350px;
        height: 50px;
    }
    .box .social-media  a{
        font-size: 1.5em;
    }
    
} */
/* telas de tablet */
/* @media screen and (min-width: 768px) and (max-width: 1024px) { 
    
    .logo{
        margin-left: 0;
    }
    .img-left{
        margin-left: 0;
    }
    .text{
        gap: 0px;
        align-items: center;
    }
    .text h1{
        margin-left: 40px;
        margin-top: 0; 
        font-size: 4.5em;
    }
    .paragraph{
        display: flex;
        margin-top: 10px;
        align-items: center;
    }
    .paragraph p{
        margin-left: 40px;
    }
    .btn-img .btn  button{
        margin-left: 40px;
    }
    .box{
        margin-left: -80px;
    }
    .box .social-media  a{
        font-size: 1.5em;
    }
} */