
@media screen  and (max-width: 768px) {
    
    .text .title-img img{
        display: none;
    }
    .text .title-img h1{
        font-size: 4.2em;
        max-width: 100%;
    }
    .paragraph p{
        font-size: 1.5em;
        line-height: 30px;
        max-width: 426px;
        margin-top: 30px;
    }
    .paragraph .img-bottom{
        display: none;
    }
    .btn{
        margin-top: 30px;
    }
    .btn-img .btn button{
        width: 270px;
        height: 75px
    }
    .btn-img{
        display: flex;
        justify-content: space-between;
    }
    .btn-img .img-bottom{
        display: block;
    }

    .box{
        display: block;
    }
    .box .img-4{
        display: none;
    }
}
