@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#013243;
    --color-text: #32F5C8;
}

body{
    background-color: var(--background);
}

.container{
    background-color: rgb(162, 169, 175);
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-top: 20px;
}

.logo img{
    margin-left: 100px;
}

.img-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    display: flex;
    /* justify-content: center;
    align-items: center;
    justify-content: space-around; */
    flex-direction: column;
    
}
.text .title-img{
    display: flex;
    justify-content: space-around;
}

.text h1{
    font-family:'Roboto', sans-serif;
    color: var(--color-text);
    font-size: 7em;
    max-width: 564px; 
    
}

.paragraph{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.paragraph p{
    font-size: 1.5em;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    color: white;  
}


.btn-img .btn button{
    width: 300px;
    height: 80px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: var(--background);
    background-color: var(--color-text);
    cursor: pointer;
    
}

.btn-img .img-bottom{
    display: none;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.box .social-media{
    display: flex;
    align-items: center;
    width: 314px;
    height: 48px;
    gap: 10px;
}


.box .social-media a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.2em;
}














/* .container{
    
    max-width: 90%;
    height: 100vh;
    margin: auto;
}

.logo{
    margin-top: 20px;
    margin-left: 202px;
}

.img-top{
    display: flex;
    justify-content: space-between;
   
}

.img-left{
    margin-left: 65px;
    margin-top: 34px;
}


.text{
    display: flex;
    gap:50px
}

.text h1{
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    font-weight: bold;
    max-width: 564px;
    margin-left: 202px;
    margin-top: -100px;
    color: var(--color-text);
}

.img-3{
    margin-top: -80px;
}
.paragraph{
    display: flex;
    gap: 50px;
}
.paragraph p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    max-width: 470px;
    margin-left: 202px;
    color: white;    
}

.btn button{
    width: 300px;
    height: 80px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: var(--background);
    background-color: var(--color-text);
    margin-left: 202px;
    cursor: pointer;
}
 .btn-img .img-buttom{
    display: none;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-media{
    display: flex;
    width: 314px;
    height: 48px;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}
.box .social-media a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
} */


